<p>
  <label><%= l(:field_project_favicon_custom_field) %></label>
  <%= select_tag('settings[custom_field_id]', project_favicon_custom_field__options_for_select(@settings['custom_field_id'])) %>
</p>
